<script setup lang="ts">
import { LIcon, LMarker } from "@vue-leaflet/vue-leaflet";

const props = defineProps(["selectedInterventionId"]);

const { baseURL }: { baseURL: string } = useRuntimeConfig().app;
const authorizationHeader = useAuthorizationHeader("application/json");
const { data: intervention } = await useFetch(baseURL + 'api/interventions/' + props.selectedInterventionId, {
  "headers": authorizationHeader
});

let expanded = ref<boolean>(false);
</script>

<template>
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn" :aria-expanded="expanded" @click="expanded = !expanded"
        aria-controls="accordion-1">Voir la carte</button>
    </h3>
    <div v-if="intervention !== null" :class="{ 'fr-collapse': true, 'fr-collapse--expanded': expanded }" id="accordion-1">
      <Map :lat-lng="[intervention.location.latitude, intervention.location.longitude]" :zoom="20" class="map" style="height:25rem">
        <LMarker :lat-lng="[intervention.location.latitude, intervention.location.longitude]">
          <LIcon :icon-url="usePinPicture(intervention.priority.slug)" />
        </LMarker>
      </Map>
    </div>
  </section>
</template>

<style>
.fr-collapse--expanded {
  --collapse: -536px;
  --collapse-max-height: none;
}
</style>
