<script setup>
import VueDatePicker from "@vuepic/vue-datepicker";
import { ref, defineProps, defineEmits } from "vue";

const props = defineProps(["filterInterventionsNav", "filter"]);

const buttons = ref([
  { label: "Jour", filter: "day", pressed: false },
  { label: "Semaine", filter: "week", pressed: false },
  { label: "Mois", filter: "month", pressed: false },
]);

const months = [
  "Janvier",
  "Février",
  "Mars",
  "Avril",
  "Mai",
  "Juin",
  "Juillet",
  "Août",
  "Septembre",
  "Octobre",
  "Novembre",
  "Décembre",
];

const currentMonth = new Date().getMonth();
const currentYear = new Date().getFullYear();

const selectedMonth = ref(currentMonth);
const selectedYear = ref(currentYear);

function previousMonth() {
  if (selectedMonth.value === 0) {
    selectedMonth.value = 11;
    selectedYear.value--;
  } else {
    selectedMonth.value--;
  }
}

function nextMonth() {
  if (selectedMonth.value === 11) {
    selectedMonth.value = 0;
    selectedYear.value++;
  } else {
    selectedMonth.value++;
  }
}

const filter = ref("all");
let filterMonth = ref(currentMonth + currentYear);

function togglePressed(index) {
  const item = buttons.value[index];

  buttons.value.forEach((button, i) => {
    if (i !== index) {
      button.pressed = false;
    }
  });

  item.pressed = !item.pressed;

  if (item.pressed) {
    filter.value = item.filter;
    handleFilterChange(item.filter);
  } else {
    filter.value = "all";
    handleFilterChange("all");
  }
  emit("onClick", item);
}

const emit = defineEmits(["onClick", "filter"]);

function handleFilterChange(value) {
  filter.value = value;
  emit("filter", filter.value);
}

const selectedDate = ref("");
</script>

<template>
  <nav class="fr-grid-row fr-grid-row--middle fr-mb-2w">
    <!-- <ul class="fr-grid-row fr-grid-row--middle fr-col-5">
      <li>
        <VueDatePicker v-model="selectedDate">
          <template v-slot:trigger>
            <button class="fr-btn fr-btn--tertiary fr-mr-1v">
              <span
                class="fr-icon-calendar-line fr-pr-2v"
                aria-hidden="true"
              ></span>
              Calendrier
            </button>
          </template>
        </VueDatePicker>
      </li>
      <li class="fr-p-0">
        <button
          class="fr-btn fr-btn--tertiary fr-mr-1v fr-icon-arrow-left-s-line"
          @click="previousMonth"
        >
          Label bouton
        </button>
      </li>
      <li class="fr-p-0">
        <button
          class="fr-btn fr-btn--tertiary fr-mr-1v fr-icon-arrow-right-s-line"
          @click="nextMonth"
        >
          Label bouton
        </button>
      </li>
      <li class="fr-p-0">
        <p class="fr-m-0 fr-pl-2w">
          {{ months[selectedMonth] }} {{ selectedYear }}
        </p>
      </li>
    </ul> -->
    <ul class="fr-grid-row fr-col-6">
      <li v-for="(button, index) in buttons" :key="index">
        <button
          :class="[
            'fr-btn fr-mr-1v',
            {
              'fr-btn--tertiary': !button.pressed,
              'fr-btn--pressed': button.pressed,
            },
          ]"
          @click="togglePressed(index)"
        >
          {{ button.label }}
        </button>
      </li>
    </ul>
    <ul class="fr-col-6 create">
      <li>
        <a class="fr-btn fr-btn--secondary" href="/interventions/creer"
          >Créer une intervention</a
        >
      </li>
    </ul>
  </nav>
</template>

<style scoped>
li {
  list-style: none;
}
.fr-btn--secondary,
.fr-btn--tertiary {
  background-color: var(--background-default-grey);
}

.fr-btn--tertiary {
  color: var(--grey-50-1000);
  font-weight: initial;
}

.create {
  display: flex;
  justify-content: flex-end;
}
</style>
