<script setup>
import jwt_decode from "jwt-decode";

// Récupération des droits :
const tokenCookie = useCookie("aei-desktop-token");
const decodedToken = jwt_decode(tokenCookie.value);
const currentUserId = decodedToken.userId;

const { baseURL } = useRuntimeConfig().app;
const authorizationHeader = useAuthorizationHeader("application/json");
const { data: user } = await useFetch(baseURL + "api/users/" + currentUserId, {
  headers: authorizationHeader,
});

const getInitials = (agent) => {
  const firstnameInitial = agent.firstname.charAt(0).toUpperCase();
  const lastnameInitial = agent.lastname.charAt(0).toUpperCase();
  return `${firstnameInitial}${lastnameInitial}`;
};

const token = useCookie("aei-desktop-token");

const logout = async () => {
  const authCookie = useCookie("aei-desktop-token");
  authCookie.value = null;

  window.location.href = `/connexion`;
};
</script>
<template>
  <header role="banner" class="fr-header">
    <div class="fr-header__body fr-col-12 fr-grid-row fr-grid-row--middle">
      <div class="fr-px-3v fr-col-12">
        <div class="fr-header__body-row fr-col-12 fr-p-0">
          <h1 class="fr-container fr-col-6">
            <slot />
          </h1>
          <div class="fr-header__tools">
            <div class="avatar">
              <VDropdown :distance="6">
                <!-- This will be the popover reference (for the events and position) -->
                <div v-if="user.picture">
                  <img
                    :src="user.picture"
                    class="user-photo"
                    alt="Photo utilisateur"
                  />
                </div>
                <div v-else-if="token" class="user-initials">
                  {{ getInitials(user) }}
                </div>
                <!-- This will be the content of the popover -->
                <template #popper>
                  <div class="modal-menu menu-container">
                    <div class="fr-p-0 fr-m-0">
                      <NuxtLink
                        to="/connexion"
                        class="fr-p-2w fr-pr-11w fr-nav__item"
                        @click="logout"
                      >
                        Se deconnecter
                      </NuxtLink>
                    </div>
                  </div>
                </template>
              </VDropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style scoped>
header,
.fr-header__body {
  height: var(--height-top-bar);
}
h1 {
  font-size: 24px;
}

.fr-card__img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar {
  display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
}

.user-initials {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--blue-france-925-125);
  color: var(--blue-france-sun-113-625);
  border: 1px solid var(--background-default-grey);
}
.modal-menu {
  box-shadow: 0px 2px 4px 0px rgba(22, 22, 22, 0.15);
}

.modal-menu a {
  font-size: 16px;
  border-bottom: 1px solid rgba(22, 22, 22, 0.1);
}
[href] {
  background-image: none;
}
</style>
