:root {
    --dp-font-family: Marianne,arial,sans-serif;
    --height-top-bar: 9vh;
}

body {
    color: var(--grey-50-1000);
}
section.body {
    background-color: #FBFBFB;
}

.fr-table thead{
    background-color: #FBFBFB;
}

.fr-table td{
    border-bottom: solid 10px #FBFBFB;
    background-color: var(--background-default-grey);
}