<script setup>
import jwt_decode from "jwt-decode";

const tokenCookie = useCookie("aei-desktop-token");
const decodedToken = jwt_decode(tokenCookie.value);
</script>

<template>
  <div class="fr-grid-row">
    <section class="width-sidemenu">
      <header role="banner" class="fr-header fr-grid-row fr-grid-row--middle fr-pl-3w">
        <div class="fr-header__body">
          <div class="fr-container">
            <div class="fr-header__body-row">
              <div class="fr-header__brand fr-enlarge-link">
                <div class="fr-header__brand-top">
                  <div class="fr-header__logo fr-p-0">
                    <a href="/">
                      <p class="fr-logo">Agents en <br />intervention</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav
        id="main-navigation"
        class="fr-nav fr-pl-3w"
        role="navigation"
        aria-label="Menu principal"
      >
        <div class="fr-sidemenu__inner">
          <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <ul class="fr-sidemenu__list fr-pt-2w">
              <li class="fr-sidemenu__item">
                <nuxt-link
                  class="fr-sidemenu__link"
                  to="/"
                  ><span class="fr-icon-home-4-line fr-mr-1w"></span>Accueil</nuxt-link
                >
              </li>
              <li class="fr-sidemenu__item">
                <nuxt-link
                  class="fr-sidemenu__link"
                  to="/interventions/"
                  ><span class="fr-icon-file-text-line fr-mr-1w"></span>Interventions</nuxt-link
                >
              </li>
              <li class="fr-sidemenu__item" v-if="decodedToken.roles.includes('ROLE_GET_USERS')">
                <nuxt-link
                  class="fr-sidemenu__link"
                  to="/equipe"
                  ><span class="fr-icon-account-circle-line fr-mr-1w"></span>Équipe</nuxt-link
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section class="width-contenu">
      <slot />
    </section>
  </div>
</template>

<style scoped>
section {
  height: 100vh;
}

header {
  height: var(--height-top-bar);
}

.fr-sidemenu__inner {
  height: calc(100vh - var(--height-top-bar));
}

.width-sidemenu {
  width: 200px;
}

.width-contenu {
  width: calc(100% - 200px);
}
</style>
