<script setup>
import jwt_decode from "jwt-decode";
definePageMeta({
  middleware: "authentication",
});

// Récupération des droits :
const tokenCookie = useCookie("aei-desktop-token");
const decodedToken = jwt_decode(tokenCookie.value);
const currentEmployerId = decodedToken.employerId;

const { baseURL } = useRuntimeConfig().app;
const authorizationHeader = useAuthorizationHeader("application/json");

const { data: users } = await useFetch(
  baseURL + `api/employers/${currentEmployerId}/users`,
  {
    headers: authorizationHeader,
  }
);
console.log(users.value);

const filter = ref("all");

const buttons = ref([
  { label: "Agent", filter: "agent", pressed: false },
  { label: "Directeur", filter: "director", pressed: false },
  { label: "Elu", filter: "elected", pressed: false },
]);

function togglePressed(index) {
  const item = buttons.value[index];

  buttons.value.forEach((button, i) => {
    if (i !== index) {
      button.pressed = false;
    }
  });

  item.pressed = !item.pressed;

  if (item.pressed) {
    filter.value = item.filter;
  } else {
    filter.value = "all";
  }
}

const filteredUsers = computed(() => {
  if (filter.value === "all") {
    return users.value;
  } else {
    return users.value.filter(user => user.groups[0].slug === filter.value);
  }
});

const getInitials = (user) => {
  const firstnameInitial = user.firstname.charAt(0).toUpperCase();
  const lastnameInitial = user.lastname.charAt(0).toUpperCase();
  return `${firstnameInitial}${lastnameInitial}`;
};

let showModalAjout = ref(false);
let showModalEdit = ref(false);
</script>
<template>
  <SubHeader> Équipe </SubHeader>
  <section class="fr-p-2w body">
    <div>
      <nav class="fr-tags-group fr-pb-2w">
        <ul class="fr-grid-row">
          <li v-for="(button, index) in buttons" :key="index">
            <button
              class="fr-tag"
              :aria-pressed="button.pressed"
              @click="togglePressed(index)"
            >
              {{ button.label }}
            </button>
          </li>
        </ul>
      </nav>
      <section class="fr-grid-row">
        <div class="fr-grid-row fr-mb-3w fr-mr-3w" v-for="user in filteredUsers">
          <div class="fr-card">
            <div class="fr-card__body">
              <div
                class="fr-card__content fr-pt-0 fr-px-3v fr-grid-row--middle"
              >
                <h3 class="fr-card__title">
                  {{ user.firstname }} {{ user.lastname }}
                </h3>
                <div
                  class="fr-card__desc fr-mt-0 fr-grid-row fr-grid-row--middle"
                >
                  <p class="fr-m-0">{{ user.email }}</p>
                  <p class="fr-m-0">{{ user.phoneNumber }}</p>
                </div>
                <div class="fr-card__end fr-mt-0 fr-pt-0">
                  <p class="fr-card__detail">{{ user.groups[0].name }}</p>
                </div>
              </div>
            </div>
            <div class="fr-card__header fr-grid-row fr-grid-row--center">
              <button
                class="fr-grid-row fr-p-1w ri-more-2-fill"
                @click="showModalEdit = true"
              ></button>
              <div class="fr-card__img fr-mt-2w fr-mb-1w">
                <img
                  v-if="user.picture"
                  class="fr-responsive-img"
                  :src="user.picture"
                  :alt="`photo de ${user.firstname}${user.lastname}`"
                />
                <div v-else class="user-initials">
                  {{ getInitials(user) }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="fr-grid-row fr-mb-3w fr-mr-3w">
          <div class="fr-card" @click="showModalAjout = true">
            <div class="fr-card__body">
              <div
                class="fr-card__content fr-grid-row--center fr-grid-row--middle"
              >
                <button class="fr-btn fr-p-2w add-agent">
                  <span class="fr-icon-add-line"></span>
                </button>
                <button class="fr-link">Ajouter un profil</button>
              </div>
            </div>
          </div>
        </div> -->

        <Modal :show="showModalEdit" @close="showModalEdit = false">
          <h2 class="fr-icon-arrow-right-line">Editer ce collaborateur</h2>
          <form>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Nom</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Prénom</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Identifiant</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Mot de passe</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <div class="fr-select-group">
                <label class="fr-label" for="select"> Rôle </label>
                <select class="fr-select" id="select" name="select">
                  <option value="" selected disabled hidden>
                    Selectionnez une option
                  </option>
                  <option value="1">Option 1</option>
                  <div class="fr-pb-2w"></div>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
              </div>
            </div>
            <div class="fr-pb-2w">
              <div class="fr-upload-group">
                <label class="fr-label" for="file-upload"
                  >Ajouter une photo
                  <span class="fr-hint-text"
                    >Taille maximale : 500 Mo. Formats supportés : jpg, png,
                    pdf.
                  </span>
                </label>
                <input
                  class="fr-upload"
                  type="file"
                  id="file-upload"
                  name="file-upload"
                />
              </div>
            </div>
            <hr class="fr-hr-or" />
            <ul
              class="fr-btns-group fr-btns-group--inline-lg fr-grid-row--right"
            >
              <li>
                <button class="fr-btn fr-btn--secondary">Annuler</button>
              </li>
              <li>
                <button class="fr-btn" type="submit">
                  Enregistrer les modifications
                </button>
              </li>
            </ul>
          </form>
        </Modal>
        <Modal :show="showModalAjout" @close="showModalAjout = false">
          <h2 class="fr-icon-arrow-right-line">
            Inviter des nouveaux collaborateur
          </h2>
          <p>
            Vos collaborateurs recevront un email avec l'ensemble des
            informations nécessaires à la création de leur compte.
          </p>
          <form>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Nom</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Prénom</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Identifiant</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <label class="fr-label" for="text-input-text">Mot de passe</label
              ><input
                class="fr-input"
                type="text"
                id="text-input-text"
                name="text-input-text"
              />
            </div>
            <div class="fr-pb-2w">
              <div class="fr-select-group">
                <label class="fr-label" for="select"> Rôle </label>
                <select class="fr-select" id="select" name="select">
                  <option value="" selected disabled hidden>
                    Selectionnez une option
                  </option>
                  <option value="1">Option 1</option>
                  <div class="fr-pb-2w"></div>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
              </div>
            </div>
            <div class="fr-pb-2w">
              <div class="fr-upload-group">
                <label class="fr-label" for="file-upload"
                  >Ajouter une photo
                  <span class="fr-hint-text"
                    >Taille maximale : 500 Mo. Formats supportés : jpg, png,
                    pdf.
                  </span>
                </label>
                <input
                  class="fr-upload"
                  type="file"
                  id="file-upload"
                  name="file-upload"
                />
              </div>
            </div>
            <hr class="fr-hr-or" />
            <ul
              class="fr-btns-group fr-btns-group--inline-lg fr-grid-row--right"
            >
              <li>
                <button class="fr-btn fr-btn--secondary">Annuler</button>
              </li>
              <li>
                <button class="fr-btn" type="submit">Créer le compte</button>
              </li>
            </ul>
          </form>
        </Modal>
      </section>
    </div>
  </section>
</template>

<style scoped>
.body {
  min-height: calc(100vh - var(--height-top-bar));
}

li {
  list-style: none;
}
.fr-card {
  width: 10rem;
  height: 12.375rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--stock-color, --border-default-grey);
}
.ri-more-2-fill {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  color: #cecece;
}

.fr-card__img img,
.user-initials {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

h3.fr-card__title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.fr-card__desc {
  flex-direction: column;
}
.fr-card__desc p {
  font-size: 0.75rem;
  flex-direction: column;
}
.fr-card__detail p {
  font-size: 0.75rem;
}

.add-agent {
  border-radius: 50%;
}

.user-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--blue-france-925-125);
  color: var(--blue-france-sun-113-625);
  border: 1px solid var(--background-default-grey);
}
</style>
